<h1>All restaurants</h1>

<ul>
<% @restaurants.each do |restaurant| %>
<li>
<%= restaurant.name %>
<%= link_to "See more", restaurant_path(restaurant) %>
</li>
<% end %>
</ul>

<br>
<%= link_to "Create a new restaurant", new_restaurant_path  %>
